@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--noor-color-primary);
  --color-secondary: #64748b;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  /* --font-h1: 200px; */
}

/* custom colors */
/* @layer noor {
  :root {
    --noor-color-primary: #ff00ff;
    --noor-color-primary-light: oklch(70.7% 0.165 254.624);
    --noor-color-primary-dark: #00ff00;
    --noor-color-primary-contrast: oklch(100% 0 0);
  }
} */

.dark {
  --color-primary: var(--noor-color-primary);
  --color-secondary: #475569;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-warning: #d97706;
  /* --font-h1: 200px; */
}

/* custom */

.my-underline-link {
  @apply underline underline-offset-3 decoration-primary decoration-1 hover:decoration-2;
}

.my-container {
  @apply max-w-5xl mx-auto;
}
