@layer noor;
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* --color-primary: #ff0000; */
    --color-secondary: #64748b;
    --color-success: #22c55e;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
  }

  .dark {
    /* --color-primary: #16a34a; */
    --color-secondary: #475569;
    --color-success: #16a34a;
    --color-danger: #dc2626;
    --color-warning: #d97706;
  }